.cart_product {
	padding: 5px;
	border-bottom: solid 1px #BEBEBE;
	margin-bottom: 10px;
	min-height: 50px;
	font-family: 'DroidSansRegular', Arial;
}

.cart_product h3 {
	margin: 0;
	font-size: 16px;
}

.cart_product .imgContainer {
	height: 50px;
	width: 50px;
	float: left;
}


.cart_product .remove_product {
	float: right;
	height: 50px;
	margin: 5px 5px 5px 10px;
}

.cart_product img {
	max-height: 50px;
	max-width: 44px;
	margin: 0px 3px;
}

/*	old price after discount  */
.cart_product del {
	color: gray;
}

.pay_button {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.cart_container .total {
	text-align: center;
	clear: both;
}

/*	Cart notifier  */
#cart span {	
	position: absolute;
	bottom: 0;
}
