

/******************** Dialog General ********************/

.dialog {
    position: absolute;
    top: -1000px;
    right: 10px;
    margin: 0;
    padding: 15px 15px 0px 15px;
    width: 465px;
    height: auto;
    opacity: 0;
    z-index: -1;
    display: block;
    background: #fff;
    border-top: 40px solid #000;
    border-bottom: 8px solid #000;
    border-left: 8px solid #000;
    border-right: 8px solid #000;
    box-shadow: 0px 0px 2px #fff;
    
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.dialog > .close {
    position: absolute;
    left: 0px;
    top: -32px;
    width: 18px;
    height: 18px;
    background: transparent url('../img/season13/ui/dialog_close.png') no-repeat left top;
}
.dialog > .right {
    right: 0px;
    left: auto;
}
.dialog > h1 {
    position: absolute;
    left: 10px;
    top: -32px;
    margin: 0;
    padding: 0;
    font: normal 25px/30px "BebasNeueRegular", "Helvetica LT Std", Arial;
    color: #fff;
}
.dialog .sep_line {
    position: absolute;
    left: 0px;
    top: -3px;
    width: 100%;
    height: 3px;
    background: rgb(246, 168, 0);
}
.dialog.show {
    top: 10px;
    opacity: 1;
    z-index: 11;
}

.fb_btn {
    background: transparent url('../img/season13/fb_btn.jpg') no-repeat left top;
}
.twitter_btn {
    background: transparent url('../img/season13/twitter_btn.jpg') no-repeat left top;
}







/******************** Formule ********************/

.dialog h5 {
    position: relative;
    margin: 0 6px 0 6px;
    padding: 0;
    font: normal 12px/16px Arial, Helvetica, Geneva, sans-serif;
}

.dialog h5.fb_help {
    margin-left: 50px;
}

.dialog .section {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    height: auto;
}
#change_pass_dialog .section h1 {
    width: 250px;
}
.dialog .section .sep_line {
    position: relative;
    left: 0px;
    top: 0px;
    height: 2px;
    width: 100%;
    margin: 14px 0 30px 0;
    background: #000;
}
.dialog .section .sep_line h1 {
    position: absolute;
    left: 0px;
    top: -14px;
    width: 200px;
    padding: 0 6px 0 6px;
    margin: 0;
    font: normal 20px/30px "BebasNeueRegular", "Helvetica LT Std", Arial;
    line-height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
}
.dialog .section .fb_btn {
    position: relative;
    float: left;
    margin: 0 20px 0 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;

}
.dialog .section p {
    position: relative;
    margin: 0 0 20px 6px;
    padding: 0;
    height: auto;
    width: 100%;
}
.dialog .section p label {
    position: absolute;
    width: 160px;
    font: normal 20px/30px "BebasNeueRegular", "Helvetica LT Std", Arial;
    height: auto;
    color: #000;
}
.dialog .section p label.alert {
    color: #d50000;
}
.dialog .section p span {
    font-family: "DroidSansRegular";
}
.dialog .section p a {
    position: relative;
    color: #000;
    font: 14px/30px Arial;
}
.dialog .section p input, .dialog .section p button, .dialog .section p select, .dialog .section p span, .dialog .section p textarea {
    position: relative;
    left: 160px;
    top: 0px;
    margin: 0 10px 0 0;
}
.dialog .section p input {
    height: auto;
    margin: 4px 10px 4px 0px;
}
.dialog .section p textarea {
    width: 200px;
    height: 100px;
    resize: none;
}
.dialog .section p cite {
    position: absolute;
    left: 160px;
    top: 24px;
    margin: 0;
    padding: 0;
    font: italic 10px/10px Arial, Helvetica, Geneva, sans-serif;
    color: #5d5d5d;
}
.dialog .section p cite.alert {
    color: #d50000;
}







/******************** Auth dialogs ********************/

#signup_dialog .fb_btn, #login_dialog .fb_btn {
    position: absolute;
    top: -5px;
    right: 0px;
}

.section p #chPassBtn {
    position: relative;
    top: 0px;
    left: 165px;
    width: 134px;
    height: 86px;
    background: transparent url('../img/season13/ui/btn_submit.png') no-repeat left top;
    color: transparent;
    border: none;
}
.dialog #signupBtn {
    position: relative;
    top: 0px;
    left: 165px;
    width: 134px;
    height: 86px;
    background: transparent url('../img/season13/ui/btn_signup.png') no-repeat left top;
    color: transparent;
    border: none;
}
.dialog #updateBtn {
    position: relative;
    top: 0px;
    left: 165px;
    width: 134px;
    height: 86px;
    background: transparent url('../img/season13/ui/btn_update.png') no-repeat left top;
    color: transparent;
    border: none;
}
.dialog #loginBtn {
    position: relative;
    top: 0px;
    left: 165px;
    width: 134px;
    height: 86px;
    background: transparent url('../img/season13/ui/btn_login.png') no-repeat left top;
    color: transparent;
    border: none;
}






/******************** Access dialogs ********************/

#access_dialog {
    left: -200px;
}
#access_dialog.show {
    top: 50px;
    opacity: 1;
    z-index: 12;
}
#access_dialog > .close {
    right: 0px;
    left: auto;
}
#access_dialog .section > h5 {
    font: normal 15px/20px Arial;
}

/* ================ Invitation ================ */
.invitation_dialog {
    position: absolute;
    top: -600px;
    width: 400px;
    height: 430px;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.invitation_dialog .section label {
    width: 230px;
}
.invitation_dialog .section p input, .invitation_dialog .section p button, .invitation_dialog .section p select, .invitation_dialog .section p span {
    left: 230px;
}

/* ================ Like Dialog ================ */
.like_dialog {
    position: absolute;
    top: -600px;
    width: 400px;
    height: auto;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.like_dialog fb {
    left: 20px;
    margin: 0 0 30px 0;
}







/******************** Flash messages ********************/

.flash-alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    font: normal 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva;
}

.flash-alert p {
    margin: 0px;
    padding: 0px;
}

.alert-heading {
  color: inherit;
}

.flash-alert .flash-close {
  position: relative;
  float: right;
  top: 0px;
  right: -21px;
  font: normal 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva;
  cursor: pointer;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}