.mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.main_container {
	background: white url('../img/season13/deco/tex45x48.png') repeat left top;
}

.main_container > header {
    position: relative;
    width: 860px;
    height: auto;
    padding: 16px 4px 4px 4px;
    margin: 0px auto;
}
.main_container > header p {
    padding: 0px;
    margin: 0px 0px 0px 12px;
    font: normal 25px/40px "BebasNeueRegular", "Helvetica LT Std", Arial;
}

section {
    position: relative;
    width: 860px;
    height: auto;
    padding: 4px;
    margin: 0px auto;
}

article {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 260px;
	height: auto;
	background: white;
	margin: 12px;
	padding: 0px;
	color: black;
	cursor: initial;
	box-shadow: 1px 1px 10px rgb(100, 100, 100);
}

article h1 {
    position: relative;
	text-align: left;
	width: 95%;
	padding: 8px 0px 5px 5%;
	margin: 0px;
	background: #000;
	color: #fff;
	font: normal 20px/28px "BebasNeueRegular", "Helvetica LT Std", Arial;
	letter-spacing: 1px;
}

article .expo {
    position: relative;
	display: block;
	left: 0px;
	width: 240px;
	height: 180px;
	margin: 10px;
}

.expo .expoimage {
    position: relative;
	width: 100%;
	height: 100%;
}

.expo .mask {
    opacity: 0;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.expo:hover .mask {
    opacity: 1;
}

.expo .play {
    position: relative;
    float: left;
    top: 0px;
    margin: 50px 80px 50px 80px;
    width: 80px;
    height: 80px;
}
.expo .lock {
    position: relative;
    float: left;
    top: 0px;
    margin: 30px 80px 5px 80px;
    width: 80px;
    height: 80px;
}
.expo .key {
    position: relative;
    float: left;
    margin: 0px 0px 0px 50px;
    width: 24px;
    height: 24px;
}
.expo p {
    position: relative;
    float: left;
    width: 110px;
    margin: 0px 10px;
    padding: 0px;
    text-align: center;
    font: normal 15px/28px "BebasNeueRegular", "Helvetica LT Std", Arial;
    color: #000;
}
.expo p a {
    color: #000;
    text-decoration: none;
}

 #single_game_info {
 	width: 70%;
 	margin: 50px auto 0px auto;
 	background: white; 	
	padding: 20px;
	box-shadow: 1px 1px 10px rgb(100, 100, 100);
	font-family: "BebasNeueRegular", "Helvetica LT Std", Arial;
 }

 #single_game_info .instruction {
 	color: rgb(48, 48, 48);
	border: 1px solid rgb(207, 205, 205);
	padding: 10px;
	background: rgb(238, 238, 238);
 }

 #single_game_info .play b{
 	font-weight: normal;
 	text-decoration: underline;
 }

 #single_game_info .right {
 	margin-left: 315px !important;
 }


 #single_game_info img {
 	float: left;
 	width: 300px;
 	margin-right: 15px;
 }



 .clear {
 	clear:both;
 }

.playBtn {
	-moz-box-shadow:inset 0px 0px 2px 1px #f6a800;
	-webkit-box-shadow:inset 0px 0px 2px 1px #f6a800;
	box-shadow:inset 0px 0px 2px 1px #f6a800;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #666666 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
	background-color:#666666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #f6a800;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	cursor: pointer;
}.playBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #000000 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
	background-color:#000000;
}.playBtn:active {
	position:relative;
	top:1px;
}

.classement {
	margin: 10px;
}

.classement table {
	border-collapse: collapse;
	width: 100%;
}

.classement thead .title {
	border-bottom: none;
	background: gray;
	font-size: 20px;
}

.classement thead td {
	font-weight: bold;
	border-color: black;
}

.classement td {
	min-width: 100px;
	text-align: center;
	border-bottom: 1px solid rgb(156, 156, 156);
}

