form {
    width: 840px;
}

.clearfix, .actions {
    margin: 5px auto;
}

form .clearfix {
    position: relative;
    width: 840px;
    height: auto;
    float: left;
}
form .actions {
    width: 200px;
}
form .clearfix label {
    position: relative;
    float: left;
    text-align: right;
    width: 300px;
    margin: 0 10px 0 0;
}
form .clearfix div {
    position: relative;
    float: right;
    text-align: left;
    width: 530px;
    min-height: 25px;
}

form .clearfix div textarea {
    width: 290px;
    resize: none;
}

.main_container > div {
	font: normal 14px/25px 'DroidSansRegular', Arial, Helvetica;
	margin: 30px 100px 30px 100px;
}
.main_container h1 {
    font: normal 30px/45px 'DroidSansBold';
}
.main_container strong {
    font: normal 20px/32px 'DroidSansBold';
}
.main_container h5.gris {
    color: #686868;
}