.center {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 0px;
    height: 0px;
    overflow: visible;
    z-index: 12;
}

.layer {
    position: absolute;
}


#back {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#back img {
    width: 100%;
}

#booktitle {
    left: 36%;
    top: 50px;
    background: transparent;
    width: 370px;
    height: 116px;
    z-index: 2;
    cursor: pointer;
}

#bookresume {
    left: 36%;
    top: 195px;
    right: 20px;
    background: transparent;
    width: auto;
    z-index: 3;
}
#bookresume object {
    -webkit-box-shadow: 0px 0px 6px #fff;
    -moz-box-shadow: 0px 0px 6px #fff;
    -ms-box-shadow: 0px 0px 6px #fff;
    -o-box-shadow: 0px 0px 6px #fff;
    box-shadow: 0px 0px 6px #fff;
}
#bookresume p {
    position: absolute;
    left: 430px;
    top: 0px;
    margin: 5px;
    color: #fff;
    font: normal 16px/20px Arial;
}

#btns {
    right: 20px;
    top: 390px;
    background: transparent;
    z-index: 4;
}
#btns ul {
    margin: 0px;
    padding: 0px;
}
#btns ul li {
    background: #aa0000;
    color: #fff;
    margin: 0px 0px 10px 0px;
    padding: 0;
    width: 230px;
    height: 40px;
    visibility: visible;
}
#btns ul li a {
    position: absolute;
    font: normal 23px/40px "BebasNeueRegular", "Helvetica LT Std", Arial;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    height: 40px;
    text-align: center;
    width: 100%;
}

#simon {
    left: 85px;
    top: 90px;
    bottom: 0px;
    background: transparent;
    width: 284px;
    height: 612px;
    z-index: 5;
}
#simon img {
    width: 100%;
    height: 100%;
}

#bande4 {
    right: 20px;
    top: 50px;
    width: 250px;
    z-index: 5;
}
#bande4 img {
    width: 100%
}


#episodes_section {
    left: 0px;
    top: 572px;
    width: 100%;
    height: 300px;
    background: #fff url('../img/season13/deco/tex45x48.png') repeat left top;
    border-top: 3px solid #000;
    z-index: 4;
}

#episodes {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 684px;
    height: 260px;
    overflow: hidden;
    color: #fff;
}
#episodes #expos {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000px;
    height: 220px;
    margin: 0px;
    padding: 0px;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
#episodes #expos.indispo {
    opacity: 0.6;
}
#episodes #expos .expo {
    position: relative;
    float: left;
    width: 684px;
    height: 220px;
}
#episodes #expos .expo img {
    width: 100%;
    height: 100%;
}
#episodes .ep_title {
    position: absolute;
    top: 170px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .5) url('../img/season13/ui/ep_voir.jpg') no-repeat right top;
    z-index: 2;
}
#episodes .ep_title.indispo {
    background-image: url('../img/season13/ui/ep_sablier.jpg');
}
#episodes .ep_title h2 {
    margin: 12px 0 10px 20px;
    padding: 0px;
    font: normal 20px/30px "BebasNeueRegular", "Helvetica LT Std", Arial;
    letter-spacing: 1.5px;
    text-align: left;
}
#episodes .ep_title h2 span {
    right: 190px;
    text-align: right;
    position: absolute;
}
#episodes .ep_title .ep_play {
    position: absolute;
    top: 0px;
    right: 53px;
    width: 135px;
    height: 28px;
    background: #aa0000;
    text-align: center;
    padding: 12px 0 10px 0;
    font: normal 16px/30px "BebasNeueRegular", "Helvetica LT Std", Arial;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #fff;
}


#episodes .ep_list {
    position: absolute;
    top: 226px;
    left: 0px;
    width: 100%;
    height: 35px;
    padding: 0px;
    z-index: 1;
}
#episodes .ep_list #ep_prev_btn {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0.6;
    left: 0px;
    top: 0px;
}
#episodes .ep_list #ep_next_btn {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0.6;
    top: 0px;
    right: 0px;
}
#episodes .ep_list ul {
    margin: 0;
    padding: 0px;
    left: 0px;
    width: 604px;
    overflow: auto;
}
#episodes .ep_list ul li {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 5px 0 0;
    line-height: 38px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
#episodes .ep_list ul li.active, #episodes .ep_list ul li:hover {
    background-color: #808080;
}


/* ================ Buy block ================ */
#buy_block {
    position: absolute;
    top: 50px;
    right: 20px;
    width: auto;
    height: 28px;
    color: #000;
}